endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

exec resources.cfg

sv_scriptHookAllowed 0

sets tags "RP, tutorial"

sets locale "it-IT" 

#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"
#load_server_icon myLogo.png

sv_hostname "In alto a sinistra"
sets sv_projectName "Nome di ricerca"
sets sv_projectDesc "Descrizione del nostro server"

#sv_master1 ""

set onesync on
sv_maxclients 48

exec license.cfg